{% extends "base.html" %}
{% block content %}
    {% include "_modal.html" %}
    {% load fun_filter %}

    <section>
        <div class="ui segment">
            <h1 class="ui header aligned center">员工信息</h1>
            <div class="ui floating labeled icon dropdown button"><i class="filter icon"></i>
                <label>{{ select_dept }}</label>
                <div class="menu">
                    <div class="header"><i class="tags icon"></i>选取部门</div>
                    <div class="divider"></div>
                    <a class="item" href="{% url 'member:member_list' %}">全部 </a>
                    {% for dept in dept_list %}
                        <a class="item" href="{% url 'member:member_list_with_id' dept.id %}">{{ dept.dept_name }} </a>
                    {% endfor %}
                </div>
            </div>
            <a href="{% url 'member:member_list_detail' %}">
                <button class="ui right labeled icon button primary"><i class="right info icon"></i> 查看详细</button>
            </a>
            <div class="ui animated fade right floated button">
                <div class="hidden content"><i class="upload icon"></i></div>
                <a class="visible content" href="{% url 'member:export_qr_with_dept' download_dept %}">导出{{select_dept}}部门二维码</a>
            </div>
            <div class="ui buttons right floated">
                <form action="{% url 'member:member_import' %}" id="import_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="ui labeled icon button right floated my_import" id="import"><i
                            class="upload icon"></i>
                        导入
                    </div>
                </form>
                <div class="or"></div>
                {% ifequal download_dept 0 %}
                    <a class="ui right labeled icon button my_export" href="{% url 'member:member_export' %}"><i
                            class="download icon"></i>
                        导出</a>
                {% else %}
                    <a class="ui right labeled icon button my_export"
                       href="{% url 'member:member_export_with_id' download_dept %}"><i
                            class="upload icon"></i> 导出</a>
                {% endifequal %}
            </div>
            <table class="ui table celled line single fixed" id="table">
                <thead>
                <tr class="center aligned">
                    <th>员工工号</th>
                    <th>姓名</th>
                    <th>职位</th>
                    <th>部门</th>
                    <th>联系方式</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for member in object_list %}
                    <tr class="center aligned">
                        <td>{{ member.member_id }}</td>
                        <td>{{ member.name }}</td>
                        <td>{{ member.position }}</td>
                        <td>{{ member.dept }}</td>
                        <td>{{ member.phone }}</td>
                        <td><a class="ui vertical animated button positive basic right floated my_qrcode"
                               href="{{ member.qrcode }}"
                               download>
                            <div class="hidden content">二维码</div>
                            <div class="visible content"><i class="qrcode icon"></i></div>
                        </a><a class="ui vertical animated button primary basic left floated my_edit_member">
                            <div class="hidden content update_member"
                                 data-id="{% url 'member:member_update' member.id %}">编辑
                            </div>
                            <div class="visible content"><i class="edit icon"></i></div>
                        </a><a class="ui vertical animated button negative basic center floated my_remove">
                            <div class="hidden content delete_member"
                                 data-id="{% url 'member:member_delete' member.id %}">删除
                            </div>
                            <div class="visible content"><i class="remove user icon"></i></div>
                        </a></td>
                    </tr>
                {% empty %}
                    <div class="ui icon orange message"><i class="hide icon"></i>
                        <div class="content">
                            <div class="header">目前没有一条数据</div>
                            <p>请试着添加一条数据后再试。</p>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        {% if member_add or user.is_superuser %}
                            <button class="ui labeled icon button positive right floated add_member"
                                    data-id="{% url 'member:member_add' %}"><i
                                    class="users icon"></i>
                                添加员工
                            </button>
                        {% endif %}
                        {% include '_page.html' %}
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </section>
{% endblock content %}


{% block script %}
    <script>
        $('.add_member').click(function () {
            {#var w = window.open("{% url "member:member_add" %}", "", "width=800,height=500")#}
            $(this).modalForm({formURL: $(this).data('id')})
        })
        $('.update_member').click(function () {
            var w = window.open($(this).data('id'), "", "width=800,height=500")
        })
        $('.delete_member').each(function () {
            $(this).modalForm({formURL: $(this).data('id')})
        })


        $('.ui.dropdown').dropdown()
    </script>
{% endblock %}