{% extends 'base.html' %}

{% block content %}
    {% include "_modal.html" %}
    <section>
        <div class="ui segment">
            <h1 class="ui header aligned center">分配账号</h1>
            <div class="ui floating labeled icon dropdown button"><i class="filter icon"></i>
                <label>{{ select_dept }}</label>
                <div class="menu">
                    <div class="header"><i class="tags icon"></i>选取部门</div>
                    <div class="divider"></div>
                    <a class="item" href="{% url 'member:dept_assign_account_list' %}">全部</a>
                    {% for dept in dept_list %}
                        <a class="item" href="{% url 'member:accout_list_with_id' dept.id %}">{{ dept.dept_name }} </a>
                    {% endfor %}
                </div>
            </div>
            <table class="ui table celled line single fixed striped" id="table">
                <thead>
                <tr class="center aligned">
                    <th>序号</th>
                    <th>所属部门</th>
                    <th>账号</th>
                    <th>密码(已加密, 点击解密)</th>
                    <th>姓名</th>
                    <th>职位</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for account in object_list %}
                    <tr class="center aligned">
                        <td>{{ account.id }}</td>
                        <td>{{ account.user_dept }}</td>
                        <td>{{ account.username }}</td>
                        <td><span id="enpass" onclick="showpass(this)"> {{ account.enp }} </span></td>
                        <td>{{ account.last_name }}</td>
                        <td>{{ account.position }}</td>
                        <td>
                            <div class=" ui vertical animated button primary basic left floated my_edit">
                                <div class="hidden content update_account"
                                     data-id="{% url 'member:update_assign_account' account.id %}">编辑
                                </div>
                                <div class="visible content"><i class="edit icon"></i></div>
                            </div>
                            <div class="ui vertical animated button negative basic right floated my_remove">
                                <div class="hidden content delete_account"
                                     data-id="{% url 'member:delete_assign_account' account.id %}">删除
                                </div>
                                <div class=" visible content
                                "><i class="remove user icon"></i></div>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <div class="ui icon orange message"><i class="hide icon"></i>
                        <div class="content">
                            <div class="header">目前没有一条数据</div>
                            <p>请试着添加一条数据后再试。</p>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        {% include '_page.html' %}
                    </th>
                </tr>
                </tfoot>
            </table>
            <div class="ui modal edit">
                <!--i.close.icon-->
                <div class="header">编辑账号</div>
                <div class="image content">
                    <div class="ui form">
                        <div class="four fields">
                            <div class="field"><input type="text" placeholder="账号"></div>
                            <div class="field"><input type="text" placeholder="密码"></div>
                            <div class="field"><input type="text" placeholder="姓名"></div>
                            <div class="field"><input type="number" placeholder="职位"></div>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui black deny button">取消</div>
                    <div class="ui positive right labeled icon button">提交<i class="checkmark icon"></i></div>
                </div>
            </div>
            <div class="ui basic modal remove">
                <div class="ui icon header"><i class="remove user icon"></i> 确认删除账号吗?</div>
                <div class="content">
                    <p>删除账号后该用户无法登陆!</p>
                </div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button"><i class="remove icon"></i> 否</div>
                    <div class="ui green ok inverted button"><i class="checkmark icon"></i> 是</div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
{% block script %}
    <script>
        function showpass(obj) {
            console.log($(obj).html())

            $.ajax({
                url: "{% url 'member:depass' %}" + "?enpass=" + $(obj).html(),
                type: "get",
                success: function (data) {
                    if (data.msg === 'ok') {
                        $(obj).html(data.pass)
                    } else {
                        $(obj).html('密码解密失败，重新设置一下')
                    }

                },
                error: function (data) {
                    console.log(data)
                }
            });
        }

        function get_pass(enpass) {

        }


        $('.update_account').each(function () {
            $(this).modalForm({formURL: $(this).data('id')})
        })

        $('.delete_account').each(function () {
            $(this).modalForm({formURL: $(this).data('id')})
        })


    </script>
{% endblock %}