{% extends 'base.html' %}
{% block content %}
    <section>
        <div class="ui segment"><h1 class="ui header aligned center">设备详情</h1>
             <div class="ui secondary pointing menu">
                {% for profess in profess_s %}
                <a class="item
                {% ifequal select_profess profess %}
                    active
                {% endifequal %}
                    " href="{% url 'device:list_profess' profess.id %}">{{ profess.name }}</a>
                {% endfor %}
            </div>
            <a href="{% url 'device:list' %}">
                <button class="ui right labeled icon button primary basic"><i class="right info icon"></i> 设备信息</button>
            </a>
            <table class="ui structured table celled line single fixed" id="table">
                <thead>
                <tr class="center aligned">
                    <th rowspan="2">编号</th>
                    <th rowspan="2">设备名称</th>
                    <th rowspan="2">专业</th>
                    <th colspan="10">基本信息</th>
                    <th colspan="9">检验试验</th>
                    <th colspan="2">设备保养要求</th>
                </tr>
                <tr class="center aligned">
                    <th>站点</th>
                    <th>安装位置</th>
                    <th>主要部件生产厂家</th>
                    <th>材料名称</th>
                    <th>规格型号</th>
                    <th>进场时间</th>
                    <th>生产厂家</th>
                    <th>合格证号</th>
                    <th>使用部位</th>
                    <th>状态（安装/调试）</th>
                    <th>实验方式</th>
                    <th>取样地点</th>
                    <th>取样时间</th>
                    <th>取样人</th>
                    <th>检验项目</th>
                    <th>检验日期</th>
                    <th>执行标准</th>
                    <th>现场验收结论</th>
                    <th>自检/验收人（监理）</th>
                    <th>保养内容</th>
                    <th>注意事项</th>
                </tr>
                </thead>
                <tbody>
                {% for item in object_list %}
                <tr class="center aligned">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.profess }}</td>
                    <td>{{ item.z1 }}</td>
                    <td>{{ item.z2 }}</td>
                    <td>{{ item.z3 }}</td>
                    <td>{{ item.z4 }}</td>
                    <td>{{ item.z5 }}</td>
                    <td>{{ item.z6 }}</td>
                    <td>{{ item.z7 }}</td>
                    <td>{{ item.z8 }}</td>
                    <td>{{ item.z9 }}</td>
                    <td>{{ item.get_status_id_display }}</td>
                    <td>{{ item.test.z1 }}</td>
                    <td>{{ item.test.z2 }}</td>
                    <td>{{ item.test.z3 }}</td>
                    <td>{{ item.test.z4 }}</td>
                    <td>{{ item.test.z5 }}</td>
                    <td>{{ item.test.z6 }}</td>
                    <td>{{ item.test.z7 }}</td>
                    <td>{{ item.test.z10 }}</td>
                    <td>{{ item.test.acceptor }}</td>
                    <td>{{ item.test.z8 }}</td>
                    <td>{{ item.test.z9 }}</td>
                </tr>
                {% endfor %}

                </tbody>

                <tfoot>
                <tr>
                        {% include '_page.html' %}

                </tr>
                </tfoot>
            </table>
        </div>
    </section>
{% endblock %}