{% extends 'mobile.html' %}
{% block content %}
    <div class="content">
        <div class="table">
            <div class="title">设备信息</div>
            <div class="row"><span>编号</span><span>1</span></div>
            <div class="row"><span>物资名称</span><span>钢筋</span></div>
            <div class="row"><span>生产厂家</span><span>某某厂家</span></div>
            <div class="row"><span>专业</span><span>电力变电</span></div>
            <div class="row"><span>型号</span><span>X-1</span></div>
            <div class="row"><span>数量</span><span>20</span></div>
            <div class="row"><span>单位</span><span>吨</span></div>
            <div class="row"><span>编号</span><span>1</span></div>
            <div class="row"><span>物资名称</span><span>钢筋</span></div>
            <div class="row"><span>生产厂家</span><span>某某厂家</span></div>
            <div class="row"><span>专业</span><span>电力变电</span></div>
            <div class="row"><span>型号</span><span>X-1</span></div>
            <div class="row"><span>数量</span><span>20</span></div>
            <div class="row"><span>单位</span><span>吨</span></div>
            <div class="row click"><span>查看文件</span><i class="angle right icon"></i></div>
        </div>
    </div>
{% endblock %}

