<form action="{% url 'member:dept_create' %}" id="add_dept" method="POST" class="depart">
    <div class="ui dividing header">更新任务</div>
    <div class="image content">
        <!--i.close.icon-->
        {% csrf_token %}
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        <div class="ui form warning">
            <div class="four fields">
                {% for field in form %}
                <div class="field">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
                {% if field.help_text %}
                <p class="ui warning message" style="padding: 8px 0;">{{ field.help_text }}</p>
                {% endif %}
                <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                     <p class="ui negative message" style="padding: 8px 0;">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">取消</div>
        <button type="submit" class="ui submit-btn btn positive right labeled icon button">提交
            <i class="checkmark icon"></i>
        </button>
    </div>
</form>