{% extends 'base.html' %}
{% block content %}
    <section>
        <div class="ui segment"><h1 class="ui header aligned center">进度管理</h1>
        <div class="ui secondary pointing menu">

            {% for profess in profess_s %}
            <a class="item
            {% ifequal select_profess profess %}
                active
            {% endifequal %}
                " href="{% url 'schedule:list_profess' profess.id %}">{{ profess.name }}</a>
            {% endfor %}
            <div class="right menu">
                <a href="" class="item">导出全部专业二维码</a>
                <a href="#" class="item add_profess" onclick="return false">添加专业</a>

            </div>
        </div>
             <a href="{% url 'schedule:list' %}">
                <button class="ui right labeled icon button primary basic"><i class="right info icon"></i>进度操作</button>
            </a>
            <div class="ui animated fade right floated button">
                <div class="hidden content"><i class="upload icon"></i></div>
                <div class="visible content">导出全部二维码</div>
            </div>
            <div class="ui buttons right floated">
                <button class="ui labeled icon button right floated my_import"><i class="download icon"></i> 导入</button>
                <div class="or"></div>
                <button class="ui right labeled icon button my_export"><i class="upload icon"></i> 导出</button>
            </div>
            <table class="ui table celled line single fixed" id="table">
                <thead>
                <tr class="center aligned">
                    <th>编号</th>
                    <th>施工地点</th>
                    <th>作业名称</th>
                    <th>专业</th>
                    <th>单位</th>
                    <th>开累完成率</th>
                    <th>设计总量</th>
                    <th>开累完成量</th>
                    <th>剩余总量</th>
                    <th>上周计划完成量</th>
                    <th>上周实际完成量</th>
                    <th>本周计划量</th>
                    <th>完成总周数</th>
                    <th>当前周目</th>
                </tr>
                </thead>
                <tbody>
                {% for item in object_list %}
                <tr class="center aligned">
                    <td>{{ item.id }}</td>
                    <td>{{ item.location }}</td>
                    <td>{{ item.job_name }}</td>
                    <td>{{ item.profess }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{% widthratio  item.done_count  item.design_total  100 %}%</td>
                    <td>{{ item.design_total }}</td>
                    <td>{{ item.done_count }}</td>
                    <td>{{ item.undone_count }}</td>
                    <td>{{ item.last_week_plan }}</td>
                    <td>{{ item.last_week_actual }}</td>
                    <td>{{ item.now_week_plan }}</td>
                    <td>{{ item.now_week_actual}}</td>
                    <td>{{ item.now_week}}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="14">
                        <div class="ui pagination menu right floated"><a class="item">1</a>
                            <div class="disabled item">...</div>
                            <a class="item">10</a><a class="item active">11</a><a class="item">12</a></div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>$('.add_depart').click(function () {
        $('.ui.modal.member').modal('show')
    })
    $('.my_edit_member').click(function () {
        $('.ui.modal.edit').modal('show')
    })
    $('.my_qrcode').click(function () {
        $('.ui.modal.qrcode').modal('show')
    })
    $('.my_remove').click(function () {
        $('.ui.modal.remove').modal('show')
    })
    $('.ui.dropdown').dropdown()
    </script>
{% endblock %}