{% extends 'base.html' %}
{% load static %}

{% block style %}
    <script src={% static 'javascript/g2/g2.min.js' %}></script>
    <script src={% static 'javascript/g2/data-set.min.js' %}></script>
{% endblock %}
{% block content %}
    <section>
        <div class="ui segment"><h1 class="ui header aligned center">进度总图表</h1>
            <div class="ui floating labeled icon dropdown button"><i class="filter icon"></i><span
                    class="text">{{ select_profess }}</span>
                <div class="menu">
                    <div class="header"><i class="tags icon"></i>选取专业</div>
                    <div class="divider"></div>
                    {% for profess in profess_s %}
                        <a class="item" href="{% url 'schedule:list_chart_with_profess' profess.id%}" > {{profess}}</a>
                    {% endfor %}
                </div>

            </div>
            <div style="overflow:hidden">
                <div id="mountNode"></div>
                <div class="bottom-tool-box"><img class="sort-button" src="../static/sort.png"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        var sortType = 'positive'
        var data = [ {% for item in object_list %}{type: '{{item.job_name}}' ,value:{{item.done_count}}}, {% endfor %}]
        console.log(data)
        var data1 = [{
            type: '设备安装1',
            value: 34
        }, {
            type: '设备安装2',
            value: 85
        }, {
            type: '设备安装3',
            value: 103
        }, {
            type: '设备安装4',
            value: 142
        }, {
            type: '设备安装5',
            value: 251
        }, {
            type: '设备安装6',
            value: 367
        }, {
            type: '设备安装7',
            value: 491
        }, {
            type: '设备安装8',
            value: 672
        }, {
            type: '设备安装9',
            value: 8688
        }, {
            type: '设备安装',
            value: 1234
        }]
        var chart = new G2.Chart({
            container: 'mountNode',
            forceFit: true,
            height: window.innerHeight,
            padding: [20, 40, 50, 124]
        })
        chart.source(data, {
            value: {
                max: 100,
                min: 0,
                nice: false,
                alias: '开累量'
            }
        })
        chart.axis('type', {
            label: {
                textStyle: {
                    fill: '#8d8d8d',
                    fontSize: 18
                }
            },
            tickLine: {
                alignWithLabel: false,
                length: 0
            },
            line: {
                lineWidth: 0
            }
        })
        chart.axis('value', {
            label: null,
            title: {
                offset: 30,
                textStyle: {
                    fontSize: 18,
                    fontWeight: 300
                }
            }
        })
        chart.legend(false)
        chart.coord().transpose()
        chart.interval().position('type*value').size(26).opacity(1).label('value', {
            textStyle: {
                fill: '#8d8d8d'
            },
            offset: 10
        })
        chart.render()
        $('.sort-button').click(function () {
            sortType = sortType === 'positive' ? 'negative' : 'positive'
            sortData(sortType)
            chart.repaint()
        })

        function sortData(sortType) {
            if (sortType === 'positive') {
                data.sort(function (a, b) {
                    return b.value - a.value
                })
            } else {
                data.sort(function (a, b) {
                    return a.value - b.value
                })
            }
        }</script>
{% endblock %}