{% extends "base.html" %}
{% block content %}
{% include "_modal.html" %}
<section>
    <div class="ui segment">
        <h1 class="ui header aligned center">技术信息</h1>
        <div class="ui secondary pointing menu">

            {% for profess in profess_s %}
            <a class="item
            {% ifequal select_profess profess %}
                active
            {% endifequal %}
                " href="{% url 'technology:list_profess' profess.id %}">{{ profess.name }}</a>
            {% endfor %}
            <div class="right menu">
                <a href="" class="item">导出全部专业二维码</a>
                <a href="#" class="item add_profess" onclick="return false">添加专业</a>
            </div>
        </div>
        <div class="ui floating labeled icon dropdown button">
            <i class="filter icon"></i>
            <span class="text">{{ select_type }}</span>
            <div class="menu">
                <div class="header"><i class="tags icon"></i>选取类别</div>
                <div class="divider"></div>
                <a class="item" href="{% url 'technology:list_profess' select_profess.id %}" data-value="5">全部</a>
                <a class="item" href="{% url 'technology:list_type' select_profess.id 0 %}" data-value="6">图纸会审情况</a>
                <a class="item" href="{% url 'technology:list_type' select_profess.id 1 %}" data-value="7">技术交底</a>
                <a class="item" href="{% url 'technology:list_type' select_profess.id 2 %}" data-value="8">作业指导书</a>
                <a class="item" href="{% url 'technology:list_type' select_profess.id 3 %}" data-value="9">工艺工法</a>
            </div>
        </div>
        <div class="ui animated fade right floated button">
            <div class="hidden content"><i class="upload icon"></i></div>
            <a class="visible content" href="{% url 'technology:export_qr' %}">导出全部二维码</a>
        </div>
        <div class="ui buttons right floated">
            <form action="{% url 'technology:import' %}" id="import_form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="ui labeled icon button right floated my_import" id="import"><i class="upload icon"></i>
                    导入
                </div>
            </form>
            <div class="or"></div>
            <a class="ui right labeled icon button my_export" href="{% url 'technology:export' %}"><i
                    class="download icon"></i>
                导出</a>
        </div>
        <table class="ui table celled line single fixed" id="table">
            {% ifequal object_list|length 0 %}
            <div class="ui icon orange message"><i class="hide icon"></i>
                <div class="content">
                    <div class="header">目前没有一条数据</div>
                    <p>请试着添加一条数据后再试。</p>
                </div>
            </div>
            {% else %}
            <thead>
                <tr class="center aligned">
                    <th>编号</th>
                    <th>标题</th>
                    <th>专业</th>
                    <th>类别</th>
                    <th class="four wide">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr class="center aligned">
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.profess }}</td>
                    <td>{{ item.get_file_type_display }}</td>
                    <td>
                        <a class="ui vertical animated button positive basic right floated my_qrcode"
                            href="{{ item.qrcode }}" download>
                            <div class="visible content">二维码</div>
                            <div class="hidden content"><i class="qrcode icon"></i></div>
                        </a>
                        <a class="ui vertical animated button primary basic center floated edit"
                            data-id="{% url 'technology:update' item.id %}">
                            <div class="visible content">编辑</div>
                            <div class="hidden content"><i class="edit icon"></i></div>
                        </a>
                        <a class="ui vertical animated button primary basic center floated" 
                            href="{{ item.file_url|default_if_none:'#' }}">
                            <div class="visible content">查看</div>
                            <div class="hidden content"><i class="edit icon"></i></div>
                        </a>
                        <a class="ui vertical animated button negative basic center floated remove"
                            data-id="{% url 'technology:delete' item.id %}">
                            <div class="visible content">删除</div>
                            <div class="hidden content"><i class="remove user icon"></i></div>
                        </a>
                    </td>
                </tr>


                {% endfor %}
            </tbody>
            {% endifequal %}
            <tfoot>
                <tr>
                    <th colspan="5">
                        <button class="ui labeled icon button positive right floated add"><i class="users icon"></i>
                            添加文件
                        </button>
                        {% include '_page.html' %}

                        <button class="ui labeled icon button blue left floated update_profess"><i
                                class="users icon"></i><span>
                                修改当前专业信息</span>
                        </button>
                        <button class="ui labeled icon button negative left floated delete_profess
                        {% ifequal select_type "全部" %}
                            {% ifequal object_list|length 0 %}
                            {% else %}
                            disabled
                            {% endifequal %}
                        {% else %}
                              disabled
                        {% endifequal %}">
                            <i class=" users icon"></i><span> 删除当前专业</span>
                        </button>
                        <a class="ui labeled icon button black basic left floated append" href="{{ select_profess.qrcode }}" download><i
                                class="users icon"></i><span>导出该专业二维码</span></a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

{% endblock content %}
{% block script %}
<script>
    $('button.add').modalForm({ formURL: '{% url 'technology:add' %}'})
    $('.add_profess').modalForm({ formURL: '{% url 'technology:add_profess' %}'})
    $('button.update_profess').modalForm({ formURL: '{% url 'technology:update_profess' select_profess.id %}'})
    $('button.delete_profess').modalForm({ formURL: '{% url 'technology:delete_profess' select_profess.id %}'})
    {% if profess_isValid %}
    alert("{{ profess_isValid}}")
    {% endif %}

    $('a.edit').each(function () {
        $(this).modalForm({ formURL: $(this).data('id') })
    })
    $('a.remove').each(function () {
        $(this).modalForm({
            formURL: $(this).data('id')
        })
    })
</script>
{% endblock script %}