{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static  'style/base.css' %}">
    <script src="{% static 'javascript/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'javascript/semantic.min.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <title>Document</title>
    {% block style %}
    {% endblock style %}
</head>

<body>
<header>
    <div class="ui menu massive">
        <div class="left menu"><a class="active item" id="main">
            <i class="list layout icon"></i>功能</a>
            <div class="item">
                <p>IQ工程管理平台</p>
            </div>
        </div>
        <img src="{% static 'header.png' %}">
        <div class="right menu">
            <div class="item">
                <p>欢迎您,{{ user.username }}</p>
            </div>
            <div class="item"><a class="ui negative button" href="{% url 'member:logout' %}">注销</a></div>
        </div>
    </div>
    <div class="ui sidebar inverted vertical menu">
        <!--a.item 1-->
        <!--a.item 2-->
        <!--a.item 3-->
        <div class="ui inverted accordion">

            {% if user.is_superuser %}


                <div class="item">
                    <div class="title"><i class="dropdown icon"></i> 部门管理</div>
                    <div class="content">
                        <div class="ui secondary vertical pointing menu"><a class="item"
                                                                            href="{% url 'member:dept_list' %}">部分管理</a><a
                                class="item" href="{% url 'member:dept_assign_account_list' %}">账号列表</a></div>
                    </div>
                </div>
            {% endif %}
            <div class="item">
                <div class="title"><i class="dropdown icon"></i> 人员管理</div>
                <div class="content">
                    <div class="ui secondary vertical pointing menu"><a class="item"
                                                                        href="{% url 'member:member_list' %}">员工信息</a><a
                            class="item" href="{% url 'member:member_list_detail' %}">详细信息</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title active"><i class="dropdown icon"></i> 物资管理</div>
                <div class="content">
                    <div class="ui secondary vertical pointing menu"><a class="item" href="{% url 'material:list' %}">物资信息</a><a
                            class="item" href="{% url 'material:stock_record' %}">进出库记录</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title active"><i class="dropdown icon"></i> 技术管理</div>
                <div class="content">
                    <div class="ui secondary vertical pointing menu"><a class="item" href="{% url 'technology:list' %}">技术信息</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title active"><i class="dropdown icon"></i> 设备管理</div>
                <div class="content">
                    <div class="ui secondary vertical pointing menu">
                        <a class="item" href="{% url 'device:list' %}">设备信息</a>
                        <a href="{% url 'device:detail' %}" class="item">设备详情</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title active"><i class="dropdown icon"></i> 安全管理</div>
                <div class="content">
                    <div class="ui secondary vertical pointing menu"><a class="item"
                                                                        href="{% url 'safety:list' %}">安全信息</a></div>
                </div>
            </div>
            <div class="item">
                <div class="title active"><i class="dropdown icon"></i> 进度管理</div>
                <div class="content">
                    <div class="ui secondary vertical pointing menu">
                        <a class="item" href="{% url 'schedule:list' %}">进度信息</a>
                        <a class="item" href="{% url 'schedule:list_detail' %}">进度详情</a>
                        <a class="item" href="{% url 'schedule:list_chart' %}">进度报表</a></div>
                </div>
            </div>
            <div class="item">
                <div class="title active"><i class="dropdown icon"></i> 系统设置</div>
                <div class="content">
                    <div class="ui secondary vertical pointing menu">
                        <a class="item" href="{% url 'system:set_qr' %}">二维码设置</a>
                        <a class="item" href="{% url 'system:set_backend' %}">后台设置</a>
                        <a class="item" href="{% url 'system:set_mobile' %}">移动端设置</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="message">
    {% if messages %}
        {% for message in messages %}
            <div class="ui {{ message.tags }} global message">
                <i class="close icon"></i>
                <div class="header">{{ message | safe }}</div>
                <p>5秒后关闭</p>
            </div>
            <script>
                let i = 5;
                let a = setInterval(() => {
                    if (i == 1) {
                        $('.message .close').closest('.message').transition('fade')
                        clearInterval(a)
                    } else {
                        i--
                        $('.message.global p').html(i + '秒后关闭')
                    }
                }, 1000)
            </script>
        {% endfor %}
    {% endif %}
</div>
{% block content %}
{% endblock content %}
<footer>
    <div class="main"><img src="{% static 'logo.png' %}"><span>中铁电气化局集团有限公司西安电务工程分公司</span></div>
    <div class="desc">
        <span>©China Railway Electrification Bureau Group Co., Ltd. Xi'an Electrical Engineering Branch</span></div>
</footer>
<script>                
    $('#main').click(function () {
        $('.sidebar').sidebar('toggle')
    })
    $('.ui.accordion').accordion()
    $('.ui.dropdown').dropdown()
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade')
    })

    $('#import').after('<input type="file" id="load_xls" name="docfile" style="display:none" onchange ="uploadFile()" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">');
    $('#import').click(function () {
        document.getElementById("load_xls").click();
    })

    function inout_stock() {
        var inout_stock_form = $("#inout_stock_form")[0]
        $.ajax({
            url: inout_stock_form.action,
            type: 'POST',
            data: new FormData(inout_stock_form),
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data)
                location.reload()
            },
            error: function(data){
                location.reload()
            }
        })
    }

    function uploadFile() {
        let import_form = $("#import_form")[0];
        let myform = new FormData(import_form);
        myform.append('file', $('#load_xls')[0].files[0]);
        $.ajax({
            url: import_form.action,
            type: "POST",
            data: myform,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data)
                location.reload();

            },
            error: function (data) {
                console.log(data)
            }
        })
    }
</script>
{% block script %}
{% endblock script %}
</body>


</html>