{% extends 'mobile.html' %}
{% block content %}
    <div class="content">
        <div class="table">
            <div class="title">安全信息</div>
            <div class="row"><span>编号</span><span>1</span></div>
            <div class="row"><span>标题</span><span>文件1</span></div>
            <div class="row"><span>分别</span><span>员工岗前培训</span></div>
            <div class="row click"><span>查看文件</span><i class="angle right icon"></i></div>
        </div>
    </div>
{% endblock %}
