<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" href="/static/style/semantic.min.css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/base.css">
    <script src="/static/javascript/jquery-3.2.1.min.js"></script>
    <script src="/static/javascript/semantic.min.js"></script>
    <title>Document</title>
    <style>
        .bg img {
            position: fixed;
            width: 100vw;
            height: 100vh;
        }

        .content {
            position: absolute;
            background: rgba(255, 255, 255, .8);
            top: 20vh;
            right: 10vw;
            padding: 20px 40px;
            border-radius: 20px;
        }

        .title {
            position: absolute;
            top: 20vh;
            left: 10vw;
            font-size: 6rem;
            font-family: Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
        }

        .title p:first-child {
            font-weight: 600;
        }

        .title p {
            text-shadow: 5px 5px 10px #666;
        }

        .label {
            font-size: 1.5rem;
        }

        .content div {
            display: block;
            margin-top: 20px;
        }

        button.button {
            margin-left: 80px !important;
            margin-top: 40px !important;
        }

        .forget {
            text-align: center;
        }

        .input {
            margin-top: 40px !important;
        }</style>
</head>

<body>

    <div class="bg"><img src="/static/bg.jpg"></div>
    <div class="title">
        <p>欢迎使用</p>
        <p>IQ工程管理平台</p>
    </div>
    <div class="content">
        <form action="{% url 'member:login' %}" method="POST">{% csrf_token %}
            <div class="label">
                {{ form.username.label_tag }}
            </div>
            <div class="ui left icon input massive transparent">
                {{ form.username }}
                <i class="spy icon"></i>
            </div>
            <div class="label">
                {{ form.password.label_tag }}
            </div>
            <div class="ui left icon input massive transparent">
                {{ form.password }}
                <i class="keyboard icon"></i>
            </div>
            <div>
                <button class="ui button icon right labeled positive massive" type="submit"><i class="right arrow icon"></i>登录
                </button>
            </div>
        </form>
    </div>
</body>

</html>